

.navbar-logo{
    width: 10%;
    height: 10%;
    margin-top: 20px;
}

.container{
    /* background-image: url(https://collabherative.s3.us-east-2.amazonaws.com/jonny-gios-bxDJ12Kv9Rk-unsplash.jpg); */
    height: 600vh;
    margin: -9px;
    background-color: black;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}