

.navbar-logo{
    width: 10%;
    height: 10%;
    margin-top: 20px;
    margin-left: 400px;
    display: flex;
    align-items: center;
    
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

