<div class="form">
<h1> Enter a date to view Mars: </h1>
<h2>Date Input (DD-MM-YYYY)</h2>
    <div class="form-group">
        <label class="dateInput" for="camera">Date: </label>
        <input type="text" #roverDate>
    </div>
    <div>
        <label for="camera">Rover: </label>
        <select #roverCamera>
            <option value="curiosity">Curiosity</option>
            <option value="opportunity">Opportunity</option>
            <option value="spirit">Spirit</option>
        </select>
    </div>
    <button class="button" (click)="getRoverImages(roverDate.value, roverCamera.value)">Get Photos</button>
    
    <h4> Please keep in mind most rovers did not start taking photos until several days after landing.</h4>
        <a>Curiosity landed on: 2012-08-06</a>
        <a>Opportunity landed on: 2004-01-25</a>
        <a>Spirit landed on: 2004-01-04</a>
    
    <div *ngIf="photos">
        <app-photos [childPhotos]="photos"></app-photos>
    </div>
    
    <div *ngIf="noPhotos">
        <h3>Sorry! There are no photos taken on {{roverDate.value}} by the {{roverCamera.value}} camera.</h3>
    </div>
    </div>
